<!DOCTYPE html>
<html>
<body>
    <h1>Meals on {{ date }}</h1>
    <h3>Track a new day?</h3>
    <form method="POST", action="{% url 'manage_meals' date %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Enter Meal</button>
    </form>
    <h3>Today's Meals</h3>
    <table>
        <tr><td>Meal</td><td>Calories</td><td>Protein</td><td>Fat</td><td>Carbs</td></tr>
        {% for meal in meals %}
        <tr>
            <td>{{ meal.name }}</td><td>{{ meal.calories }}</td><td>{{ meal.protein }}</td>
            <td>{{ meal.fat }}</td><td>{{ meal.carbs }}</td>
            <td>
                {% if meal.id %}
                <a href="{% url 'edit_facts' meal.id %}">Edit Facts</a>
                <a href="{% url 'delete_meal' meal.id %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'index' %}">All Days</a>
</body>
</html>